/* Generals css */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    vertical-align: middle;
    object-fit: cover;
}

a{
    text-decoration: none;
}

.container{
    width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
/* End Generals css */

/* Header css */
.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.header-wrapper{
    margin: 44px 0;
}

.header-nav{
    margin-left: auto;
}

.nav-list__item{
    margin-left: 33px;
}

.nav-list__link{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.nav-list__item:nth-child(1){
    margin-left: 0;
}
/* End Header css */


/* Main css */
.hero-background{
    background-image: url(../images/Bitmap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.hero-inner{
    width: 493px;
    padding: 117px 0 116px 85px;
}

.hero-inner__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero-inner__description{
    margin-bottom: 71px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.hero-inner__link{
    padding: 15px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;font-style: normal;
}

.about-title{
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
    opacity: 0.5;
}

.about-list{
    margin-left: 85px;
}

.about-list__item{
    position: relative;
    top: -200px;
    z-index: 2;
    width: 255px;
    margin-right: 30px;
    
}

.about-list__item:nth-child(4){
    margin-right: o;
}

.about-item__title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.about-item__description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

.services-wrapper{
    padding-top: 80px;
    background: #2C343E;
    border-radius: 10px;
    text-align: center;
}

.services-title{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.services-description{
    display: inline-block;
    width: 540px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.services-list{
    margin: 0 80px;
}

.services-list__item{
    position: relative;
    top: 100px;
}

.services-list__item{
    width: 350px;
    margin-right: 30px;
    padding: 72px 48px 48px 48px;
    text-align: center;
    background: #0E8784;
    border-radius: 8px;
}

.services-list__item:nth-child(3){
    margin-right: 0;
}

.services-list__title{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
}

.services-list__description{
    display: inline-block;
    width: 255px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
/* End Main css */


/* Footer css */
/* End Footer css */


/*  css */
/* End  css */